repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-docstring-first
          - id: check-yaml
          - id: debug-statements
          - id: double-quote-string-fixer
          - id: requirements-txt-fixer
    - repo: https://github.com/PyCQA/flake8
      rev: 7.1.1
      hooks:
          - id: flake8
            additional_dependencies: [flake8-typing-imports==1.15.0]
    - repo: https://github.com/hhatto/autopep8
      rev: v2.3.1
      hooks:
          - id: autopep8
    - repo: https://github.com/asottile/reorder-python-imports
      rev: v3.13.0
      hooks:
          - id: reorder-python-imports
            args: [--py3-plus]
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v3.1.0
      hooks:
          - id: add-trailing-comma
            args: [--py36-plus]
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.17.0
      hooks:
          - id: pyupgrade
            args: [--py36-plus]
    - repo: https://github.com/asottile/setup-cfg-fmt
      rev: v2.5.0
      hooks:
          - id: setup-cfg-fmt
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.11.2
      hooks:
          - id: mypy
            exclude: ^example/
            additional_dependencies: [types-requests, types-setuptools]
